@{
    ViewData["Title"] = "Informacion Institucional";
}
<h1>@ViewData["Title"]</h1>


<p>---------------------------</p>

<div>
    <a href="https://localhost:44380/Prestacion/Prestaciones">Prestaciones de la institucion</a>
</div>

<div>
    <a href="https://localhost:44380/Profesional/Profesionales">Profesionales de la institucion</a>
</div>

