@{
    ViewData["Title"] = "Informacion Institucional";
}
<h1>@ViewData["Title"]</h1>


<p>---------------------------</p>

<div>
    <a asp-action="Prestaciones" asp-controller="Prestacion">Prestaciones de la institucion</a>
</div>

<div>
    <a asp-action="Profesionales" asp-controller="Profesional">Profesionales de la institucion</a>
</div>

