@model IEnumerable<AgendaDeTurnos.Models.Turno>
    


<h1>Prestaciones </h1>

<h4>Seleccione un turno</h4>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label class="control-label">Trunos de && @Model.First().Profesional.Nombre </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Siguiente" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="SelecionProfecional">Back to List</a>
</div>